.display-4 {
  font-size: 2.5rem;
  font-weight: 700;
}

.search-form {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inner-form {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.input-field {
  display: flex;
  align-items: center;
  flex: 1;
}

.input-select select {
  width: 100%;
  padding: 10px 15px;
  border: none;
  background-color: #fff;
  border-right: 1px solid #ddd;
  border-radius: 8px 0 0 8px; 
}

.input-select select:focus {
  border-color: #77d986;
}

#search {
  flex: 1;
  padding: 10px 15px;
  border: none;
  background-color: #fff;
  border-radius: 0;
}

#search:focus {
  outline: none;
}

.btn-search {
  /* background-color: #77d986; */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  margin-left: auto;
}

.btn-search:hover {
  background-color: #66c77b;
}

.project-list {
  background-color: rgba(229, 234, 235, 0.447);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.project-item:last-child {
  border-bottom: none;
}

.project-header {
  background-color: #77d986;
  color: white;
  padding: 1px;
  border-radius: 5px;
}

.project-body {
  padding-top: 10px;
}

.project-body p {
  margin-bottom: 10px;
}

.donate-button {
  background-color: hsla(134, 50%, 50%, 0.856);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.donate-button:hover {
  background-color: #77d986;
  box-shadow: 0 0 10px rgba(119, 217, 134, 0.8); 
}


.filter-sidebar {
  position: sticky;
  top: 20px; 
}



 
