<app-blank-navbar class="m-5"></app-blank-navbar>
<br>
<br>

<div class="container m-5">
  <div class="row">
    <div class="col-md-6">
      <h1 style="font-weight: 700; font-size: 50px;">Projects Page</h1>
    </div>
    <div class="col-md-6">
      <p>Our customizable donation pages and peer-to-peer fundraising campaigns are the perfect tools to add to your online fundraising arsenal.</p>
    </div>
  </div>

  <div class="s003">
    <form>
      <div class="inner-form">
        <div class="input-field first-wrap">
          <div class="input-select">
            <select data-trigger="" name="choices-single-defaul">
              <option>Location</option>
            </select>
          </div>
        </div>
        <div class="input-field second-wrap">
          <input id="search" type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search by location..." (ngModelChange)="getProjects()"/>
        </div>
        <div class="input-field third-wrap">
          <button class="btn-search" type="button">
            <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>
  
  <div class="row mt-5">
    <div class="col-md-3">
      <div class="form-group">
        <label for="categoryId">Category</label>
        <select id="categoryId" class="form-control" (change)="onCategoryChange($event)">
          <option value="">All Categories</option>
          <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="fundingGoal">Budget</label>
        <select id="fundingGoal" class="form-control" (change)="onFundingGoalChange($event)">
          <option value="all">Select Budget Range</option>
          <option value="min">Less than 1000</option>
          <option value="range">1000 to 5000</option>
          <option value="max">More than 5000</option>
        </select>
      </div>


    </div>
    <div class="col-md-9">
      <div style="background-color: rgba(229, 234, 235, 0.447);">
        <div class="container" style="padding-top: 20px;">
          <div class="row">
            <div  class="col-md-4 mb-4" *ngFor="let project of projects | search: searchTerm; let last = last">
              <div class="card" [ngClass]="{'last-card': last}">
                <div class="card-header">
                  <h5 class="card-title">{{ project.title }}</h5>
                </div>
                <div class="card-body">
                  <img class="card-img-top" [src]="getFullImageUrl(project.imgUrl)" alt="Project Image">
                  <p class="card-text">{{ project.description }}</p>
                  <p class="card-text">Funding Goal: {{ project.fundingGoal }}</p>
                  <p class="card-text">Amount Raised: {{ project.amountRaised }}</p>
                  <p class="card-text">State: {{ getStateString(project.state) }}</p>
                  <p class="card-text">Category: {{ project.categoryName }}</p>
                  <p class="card-text">Location: {{ project.location }}</p>
                  <div *ngIf="project.state !== 1" class="d-flex justify-content-between">
                    <button class="donate-button custom-button flex-grow-1 mr-2" (click)="onMoneyDonate(project.id, project.title, project.charityId)">
                      Money Donation
                    </button>
                    <button class="donate-button custom-button flex-grow-1 ml-2" (click)="onInKindDonate(project.id, project.charityId, project.title)">
                      In-Kind Donation
                    </button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
