.card {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.card-header {
  background-color: #77d986;
  color: white;
  text-align: center;
  padding: 10px;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-img-top {
  object-fit: cover;
  height: 200px; 
}
.card-text {
  margin-bottom: 10px;
}


/* .last-card {
  min-height: 400px;
} */
