<section class="bg-main-light p-4 rounded my-3 w-75 mx-auto">
  <div class="row">
    <div class="col-md-6">
      <h1 class="custom-title">Register Now</h1>
      <form [formGroup]="registerForm" (ngSubmit)="handleForm()">
        <div class="mb-2">
          <label for="userName">userName:</label>
          <input type="text" formControlName="userName" id="userName" class="form-control" #InputName>
          <div class="alert alert-danger" *ngIf="registerForm.get('userName')?.errors && (registerForm.get('userName')?.touched || InputName.value.length > 0)">
            <p *ngIf="registerForm.get('userName')?.getError('required')">Name is required</p>
            <p *ngIf="registerForm.get('userName')?.getError('minlength')">Name Min length is 3</p>
            <p *ngIf="registerForm.get('userName')?.getError('maxlength')">Name Max length is 30</p>
          </div>
        </div>

        <div class="mb-2">
          <label for="email">Email:</label>
          <input type="email" formControlName="email" id="email" class="form-control" #InputEmail>
          <div class="alert alert-danger" *ngIf="registerForm.get('email')?.errors && (registerForm.get('email')?.touched || InputEmail.value.length > 0)">
            <p *ngIf="registerForm.get('email')?.getError('required')">Email is required</p>
            <p *ngIf="registerForm.get('email')?.getError('email')">Email is invalid</p>
          </div>
        </div>

        <div class="mb-2">
          <label for="password">Password:</label>
          <input type="password" formControlName="password" id="password" class="form-control" #InputPass>
          <div class="alert alert-danger" *ngIf="registerForm.get('password')?.errors && (registerForm.get('password')?.touched || InputPass.value.length > 0)">
            <p *ngIf="registerForm.get('password')?.getError('required')">Password is required</p>
            <p *ngIf="registerForm.get('password')?.getError('pattern')">Password is invalid</p>
          </div>
        </div>

        <div class="mb-2">
          <label for="accountType">Account type:</label>
          <input type="text" formControlName="accountType" id="accountType" class="form-control">
          <!-- <input type="text" id="accountType"  formControlName="accountType" [value]="selectedAccountType || ''" readonly class="styled-input"> -->
        </div>

        <button class="active-link custom-button">
          <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
          Register
        </button>
        <p class="alert alert-danger" *ngIf="msgError">{{msgError}}</p>
      </form>

      <div class="text-center mt-3">
        <button (click)="handleGoogleSignIn()">
          <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Sign-In" style="width: 20px; margin-right: 10px;">
        </button>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <img src="./assets/Images/2.jpg" class="img-fluid custom-img" alt="Register Image">
    </div>
  </div>
</section>
