.custom-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}


.img-fluid {
  max-width: 100%;
  height: auto;
  padding-top: 60px;
}

.custom-img {
  margin-left: 80px;
}

.custom-title {
  font-size: 2.5rem; 
  font-weight: bold; 
  color: #333; 
  text-align: left; 
  margin-bottom: 20px; 
  padding-top: 70px; 
}

.styled-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
