body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid > section {
  flex: 1;
  display: flex;
  justify-content: flex-start; /* Align the form to the left */
  align-items: flex-end; /* Align the form to the bottom */
}

.custom-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #218838;
}

.form-section {
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 8px;
  margin: 50px 50px 50px 0; /* Adjusted the margins to create space between form and green div */
  width: 90%; /* Make the form section larger */
  max-width: 600px; /* Limit maximum width for very large screens */
}

.styled-input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.styled-input:focus {
  border-color: #28a745;
  outline: none;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.2);
}

.custom-title {
  font-size: 2.5rem; 
  font-weight: bold; 
  color: #333; 
  text-align: left; 
  margin-bottom: 20px; 
}

.alert {
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
}

.sidebar-section {
  background-color: #77d986;
  color: #1c1c1c;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: auto;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

.custom-layout {
  margin-top: 90px; /* Adjust this value as needed to fit your navbar */
  padding: 20px;
}

.support-button {
  background-color: #eeeeee;
  color: #77d986;
  border: none;
  border-radius: 35px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.support-button:hover {
  background-color: #77d986;
  color: #1c1c1c;
}

ul {
  text-align: left;
  margin: 20px 0;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .form-section, .sidebar-section {
    width: 100%;
    position: relative;
    margin: 50px 0; /* Adjusted margin for smaller screens */
  }

  .sidebar-section {
    position: static;
  }
}

@media (max-width: 768px) {
  .container-fluid > section {
    flex-direction: column;
    align-items: center;
  }

  .form-section {
    width: 100%; /* Full width on medium screens */
    margin: 20px 0; /* Adjusted margin for smaller screens */
  }
}

@media (max-width: 576px) {
  .custom-title {
    font-size: 2rem; 
  }

  .custom-button, .support-button {
    padding: 10px;
    font-size: 14px;
  }
}
