<footer class="bg-body-tertiary text-center py-4">
    <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
            <i class="fab fa-facebook-f"></i>
        </a>

        <!-- Twitter -->
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
            <i class="fab fa-twitter"></i>
        </a>

        <!-- Google -->
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
            <i class="fab fa-google"></i>
        </a>

        <!-- Instagram -->
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
            <i class="fab fa-instagram"></i>
        </a>

        <!-- Linkedin -->
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
            <i class="fab fa-linkedin-in"></i>
        </a>

        <!-- Github -->
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button">
            <i class="fab fa-github"></i>
        </a>
    </section>

    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Form -->
        <section>
            <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="form5Example26" class="form-control" />
                            <label class="form-label" for="form5Example26">Email address</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="nav-link btn button is-small w-button custom-button btn-primary">
                            Subscribe
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1);">
        © 2024 Copyright:
        <a class="text-body fw-bold" href="#">GiveHub.com</a>
    </div>
    <!-- Copyright -->
</footer>






















