.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

  }
  
  .custom-title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .custom-form {
    max-width: 100%;
  }
  
  .styled-input {
    border-radius: 5px;
    padding: 10px;
  }
  
  .text-danger {
    color: red;
  }
  
  .active-link {
    background-color: #007bff;
    border: none;
  }
  
  /* .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
   */
  /* Responsive adjustments for the grid layout */
  @media (min-width: 768px) {
    .signup .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8px;
    }
  
    .signup .order-1 {
      order: 1;
    }
  
    .signup .order-2 {
      order: 2;
    }
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  

  