.hero{
    
    height:100vh;
  }
  
  
  
  body{margin-top:20px;}
  
  /* Feature Box
  ---------------------*/
  .feature-box-1 {
    padding: 32px;
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    margin: 15px 0;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    top: 0;
  }
  .feature-box-1 * {
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
  }
  .feature-box-1 .icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #77d986;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 22px;
    font-size: 27px;
  }
  .feature-box-1 .icon i {
    line-height: 70px;
  }
  .feature-box-1 h5 {
    color: black;
    font-weight: 600;
  }
  .feature-box-1 p {
    margin: 0;
  }
  .feature-box-1:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    border-radius: 10px;
    width: 0;
    background: black;
    z-index: -1;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
  }
  .feature-box-1:hover {
    top: -5px;
  }
  .feature-box-1:hover h5 {
    color: #ffffff;
  }
  .feature-box-1:hover p {
    color: rgba(255, 255, 255, 0.8);
  }
  .feature-box-1:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    left: 0;
    right: auto;
  }
  .section {
      padding: 100px 0;
      position: relative;
  }
  .section-title {
      padding-bottom: 45px;
  }
  .section-title h2 {
      font-weight: 700;
      color: black;
      font-size: 45px;
      margin: 0 0 15px;
      background-color: #77d986;
      padding-left: 15px;
  }
  
  
  
  #team {
      padding: 60px 0;
    }
    
    #team .section-title {
      margin-bottom: 40px;
    }
    
    #team .section-title h2 {
      font-size: 32px;
      font-weight: bold;
      color: #333;
    }
    
    #team .section-title p {
      font-size: 16px;
      color: #666;
    }
    
    /* Team member styles */
    #team .member {
      position: relative;
      overflow: hidden;
      border-radius: 100% 0% 100% 0% / 30% 80% 20% 70%  ;
      transition: transform 0.3s ease;
    }
    
    #team .member img {
      width: 100%;
      height: auto;
      transition: transform 0.4s ease;
    }
    
    #team .member-info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;
      background: rgba(0, 0, 0, 0.7); /* Dark overlay to contrast with the white text */
      color: white;
      opacity: 0; /* Initially hidden */
      transition: opacity 0.3s ease-in-out; /* Smooth fade-in effect */
    }
    
    #team .member-info-content h4 {
      
      font-size: 20px;
      font-weight: bold;
    }
    
    #team .member-info-content span {
      font-size: 16px;
    }
    
   
    
  
    #team .member:hover {
      transform: scale(1.02); 
    }
    
    #team .member:hover img {
      transform: scale(1.1); 
    }
    
    #team .member:hover .member-info {
      opacity: 1; 
    }
    
  