
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner hero">
      <div class="carousel-item active">
        <img src="assets/Images/2.jfif" class="d-block w-100 h-100" alt="...">
        
      </div>
      <div class="carousel-item">
        <img src="assets/Images/cop.jpg" class="d-block w-100  h-100" alt="...">
        
      </div>
      <div class="carousel-item">
        <img src="assets/Images/n.jpg" class="d-block w-100  h-100" alt="...">
       
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  
  <!-- ======= About Section ======= -->
  <section class="py-3 py-md-5">
      <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
          <div class="col-12 col-lg-6 col-xl-5">
            <img class="img-fluid rounded" loading="lazy" src="assets/Images/givers.jpg" alt="section 1">
          </div>
          <div class="col-12 col-lg-6 col-xl-7">
            <div class="row justify-content-xl-center">
              <div class="col-12 col-xl-11">
                <h2 class="mb-3">Who Are We?</h2>
                <p class="lead fs-4 text-primary mb-3">Welcome to GiveHub, your trusted platform for empowering change! </p>
                <p class="mb-5"> Our mission is to connect generous individuals with worthy causes, fostering a community of giving.

                    GiveHub offers a diverse range of impactful projects, from supporting education initiatives and environmental sustainability efforts to aiding communities in need and promoting social justice.
                    
                    Whether you're passionate about a specific cause or simply looking to make a positive difference, GiveHub provides a seamless platform to donate and directly contribute to projects that resonate with you.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
    <!-- ======= services Section ======= -->
    <section class="section services-section" id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-title">
              <h2>Our Impact Areas</h2>
              <p class="m-3">Empowering change through diverse causes. Explore the range of impactful projects you can support on GiveHub.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-lg-4">
            <div class="feature-box-1">
              <div class="icon">
                <i class="fas fa-book-reader"></i>
              </div>
              <div class="feature-content">
                <h5>Education</h5>
                <p>Support initiatives that provide access to quality education for all. Your contributions can help build schools, equip classrooms, and empower children to reach their full potential.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="feature-box-1">
              <div class="icon">
                <i class="fas fa-leaf"></i>
              </div>
              <div class="feature-content">
                <h5>Environmental Sustainability</h5>
                <p>Contribute to a greener future by supporting projects focused on conservation, renewable energy, and sustainable practices. Together, we can protect our planet for generations to come.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="feature-box-1">
              <div class="icon">
                <i class="fa-regular fa-handshake"></i>
              </div>
              <div class="feature-content">
                <h5>Community Support</h5>
                <p>Empower communities in need by supporting projects that provide access to food, shelter, healthcare, and social services. Your generosity can make a real difference in people's lives.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="feature-box-1">
              <div class="icon">
                <i class="fas fa-user-md"></i>
              </div>
              <div class="feature-content">
                <h5>Healthcare Access</h5>
                <p>Support projects that provide access to quality healthcare for underserved communities. Your contributions can help build clinics, train medical professionals, and deliver essential medical supplies.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="feature-box-1">
              <div class="icon">
                <i class="fas fa-dove"></i>
              </div>
              <div class="feature-content">
                <h5>Peacebuilding Initiatives</h5>
                <p>Promote peace and conflict resolution by supporting projects that foster dialogue, reconciliation, and community development. Your contribution can help create a more peaceful world for all.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="feature-box-1">
              <div class="icon">
                <i class="fas fa-heart"></i>
              </div>
              <div class="feature-content">
                <h5>Support Services</h5>
                <p>Provide essential support services such as counseling, legal aid, and crisis intervention to those in need. Your contributions ensure that vulnerable individuals receive the help they require.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <section class="py-3 py-md-5">
      <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
          <div class="col-12 col-lg-6 col-xl-5">
            <img class="img-fluid rounded" loading="lazy" src="./assets/Images/copiedImg.png" alt="section 1">
          </div>
          <div class="col-12 col-lg-6 col-xl-7">
            <div class="row justify-content-xl-center">
              <div class="col-12 col-xl-11 ">
                <h2 class="mb-3">Take Charge of Every Donation and Fundraiser</h2>
                <p class="mb-5"> Forget clunky systems and outdated technology. GiveHub's modern dashboard will help you get more done faster so you can get back to helping your organization succeed. Manage donors, track recurring giving, configure emails, and take control of your day-to-day fundraising activity.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- Promo Section -->
<section class="promo-section">
  <div class="container">
    <h2>Trusted by Thousands of Schools, Churches, and Organizations</h2>
    <ul>
      <li>Secure forms & campaign pages</li>
      <li>Complete customization</li>
      <li>5 minutes to sign up</li>
      <li>Integrate with ease</li>
      <li>No setup fees or hidden costs</li>
      <li>Custom pricing as low as 0.5%</li>
      <li>No limited functions</li>
      <li>No contracts</li>
    </ul>
    <a href="#" class="btn-signup" routerLink="/register">Sign Up Free</a>
  </div>
</section>


    <!-- ======= Team Section ======= -->
   <section id="our-expert-team" class="team mb-5 ">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Our Expert Team</h2>
        <p class="m-3">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <img src="./assets/Images/nina.jpg" style="height: 370px;" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content text-center">
                <h4>Nabila Nabil</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 mb-3" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <img src="./assets/Images/caroo.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content text-center">
                <h4>Caroline Emad</h4>
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6"  data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <img src="./assets/Images/Maria.jpg" class="img-fluid" style="height: 370px;" alt="">
            <div class="member-info">
              <div class="member-info-content text-center">
                <h4>Maria Ezzat</h4>
              </div>
              
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <img src="./assets/Images/tina.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content text-center">
                <h4>Youstina Emad</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-8 m-5" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <img src="./assets/Images/Sero.jpg" style="height: 370px;" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content text-center">
                <h4>Seravia Samuel</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-8 m-5" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <img src="./assets/Images/Sara.jpg" style="height: 370px;" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content text-center">
                <h4>Sara Samy</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-8 m-5 " data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <img src="./assets/Images/Reem.jpg" style="height: 370px;" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content text-center">
                <h4>Reem Osama</h4>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
  </section>



  


  