<app-blank-navbar></app-blank-navbar>
<br />
<br />
<br />
<br />
<div class="container">
  <h1>It's Giving Season!</h1>
  <h2>Just a dollar could save a soul</h2>
  <img
    src="assets/Images/moneyDonation.jpg"
    alt="Donation Banner"
    class="banner"
  />
  <form [formGroup]="donationForm" (ngSubmit)="onSubmit()">
    <div class="section">
      <label for="amount">Donate</label>
      <input
        type="number"
        min="0"
        id="amount"
        class="text input-amount"
        name="amount"
        placeholder="USD"
        formControlName="amount"
      />
    </div>
    <div class="section">
      <label for="payment-method">Payment Method</label>
      <div class="row payment-method">
        <div class="column">
          <input
            type="radio"
            id="visa"
            formControlName="paymentMethod"
            name="paymentMethod"
            value="visa"
            [(ngModel)]="paymentMethod"
          />
          <label for="visa"
            ><img src="assets/Images/visa.jpg" alt="Visa" class="payment-img"
          /></label>
        </div>
        <div class="column">
          <input
            type="radio"
            id="mastercard"
            formControlName="paymentMethod"
            name="paymentMethod"
            value="mastercard"
            [(ngModel)]="paymentMethod"
          />
          <label for="mastercard"
            ><img
              src="assets/Images/MasterCard_Logo.svg.png"
              alt="MasterCard"
              class="payment-img"
          /></label>
        </div>
        <div class="column">
          <input
            type="radio"
            id="paypal"
            formControlName="paymentMethod"
            name="paymentMethod"
            value="paypal"
            [(ngModel)]="paymentMethod"
          />
          <label for="paypal"
            ><img
              src="assets/Images/paypal.png"
              alt="PayPal"
              class="payment-img"
          /></label>
        </div>
      </div>
      <div
        *ngIf="
          donationForm.get('paymentMethod')?.invalid &&
          donationForm.get('paymentMethod')?.touched
        "
      >
        Payment method is required
      </div>
    </div>
    <div class="section">
      <label for="full-name">Full Name</label>
      <div class="row">
        <div class="column">
          <input
            type="text"
            readonly
            id="full-name"
            formControlName="fullName"
            placeholder="Full Name"
          />
          <div
            *ngIf="
              donationForm.get('fullName')?.invalid &&
              donationForm.get('fullName')?.touched
            "
          >
            Full name is required
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <label for="email">E-mail</label>
      <input
        type="email"
        readonly
        id="email"
        formControlName="email"
        placeholder="example@example.com"
      />
      <div
        *ngIf="
          donationForm.get('email')?.invalid &&
          donationForm.get('email')?.touched
        "
      >
        <div *ngIf="donationForm.get('email')?.errors?.['required']">
          Email is required
        </div>
        <div *ngIf="donationForm.get('email')?.errors?.['email']">
          Invalid email format
        </div>
      </div>
    </div>
    <div class="section">
      <label for="organization">Project</label>
      <input
        type="text"
        readonly
        id="organization"
        name="organization"
        formControlName="organization"
      />
    </div>
    <button type="submit" [disabled]="donationForm.invalid" class="btn">
      Donate
    </button>
  </form>
</div>
