<div class="d-flex flex-wrap responsive-three-columns text-center ">
  
    <div class="bg-primary d-flex justify-content-center align-items-center w-50 h-100">
      <div >
        <h2 style="  font-family: 'Righteous', serif;" class="mb-3">Donner</h2>
      <img src="./assets/Images/boy.png" height="250" class="mb-5">
      <button type="button" class="btn btn-accent w-75 rounded-pill" style="font-family: 'Poppins', serif;" routerLink="/donnerregister">Register Now</button>


      </div>
      
    </div>


    <div class="bg-secondary text-light d-flex justify-content-center align-items-center w-50 h-100">
     
<div>
  <h2 style="  font-family: 'Righteous', serif;"class="mb-3 ">Charity organization</h2>
  <!-- <img src="./assets/Images/charity.png" height="250"class="mb-5"> -->
  <img src="./assets/Images/give-love.png" height="250"class="mb-5">

  <button type="button" class="btn btn-light w-75 rounded-pill" style="  font-family: 'Poppins', serif;"  routerLink="/charityregister" >Register Now</button>

</div>

    </div>
    
      
 

</div>

