<section class="bg-main-light p-4 rounded my-3 w-75 mx-auto">
  <div class="row">
    <div class="col-md-6 form-section">
      <h1 class="custom-title">LogIn</h1>
      <form [formGroup]="logInForm" (ngSubmit)="handleForm()">
        <div class="mb-2">
          <label for="userName">User Name:</label>
          <input type="text" formControlName="userName" id="userName" class="form-control styled-input" [(ngModel)]="userData.userName" #InputName>
          <div class="alert alert-danger" *ngIf="logInForm.get('userName')?.errors && (logInForm.get('userName')?.touched || InputName.value.length > 0)">
            <p *ngIf="logInForm.get('userName')?.getError('required')">Name is required</p>
            <p *ngIf="logInForm.get('userName')?.getError('minlength')">Name Min length is 3</p>
            <p *ngIf="logInForm.get('userName')?.getError('maxlength')">Name Max length is 20</p>
          </div>
        </div>

        <div class="mb-2">
          <label for="password">Password:</label>
          <input type="password" formControlName="password" id="password" class="form-control styled-input" [(ngModel)]="userData.password" #InputPassword>
          <div class="alert alert-danger" *ngIf="logInForm.get('password')?.errors && (logInForm.get('password')?.touched || InputPassword.value.length > 0)">
            <p *ngIf="logInForm.get('password')?.getError('required')">Password is required</p>
            <p *ngIf="logInForm.get('password')?.getError('pattern')">Password is invalid</p>
          </div>
        </div>

        <button [disabled]="logInForm.invalid" class="active-link custom-button">
          <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
          LogIn
        </button>
        <p class="alert alert-danger" *ngIf="msgError">{{msgError}}</p>
      </form>
    </div>
    <div class="col-md-6 sidebar-section">
      <div class="custom-layout">
        <p>
          Small team? Limited Resources? We can help! At Donately, we're more than just a software provider - we're your trusted partner in fundraising success. Our team is here to support you every step of the way, with expert guidance, training, and resources ensuring you hit the ground running and achieve your goals in record time.
        </p>
        <ul>
          <li>Expert guidance through personalized 1:1 onboarding</li>
          <li>Seamless testing and launch of embedded forms and widgets</li>
          <li>Tailored integration and analytics setup</li>
          <li>Dedicated support for importing data from any platform</li>
        </ul>
        <button class="support-button">Talk to Our Support Team</button>
      </div>
    </div>
  </div>
</section>
