<nav class="navbar navbar-expand-lg fixed-top  p-3">
    <div class="container d-flex m-auto">
        <a class="navbar-brand " href="#">
            <img src="./assets/Images/GiveHub-LogoNav.png" alt="Logo" height="40">
        </a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse col-8" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Features
                    </a>
                    <div class="dropdown-menu dropdown-menu-custom shadow-lg" aria-labelledby="navbarDropdown">
                        <div class="container">
                            <div class="row">
                                <div class="col-md dropdown-column">
                                    <h6 class="dropdown-header-custom">Overview</h6>
                                    <a class="dropdown-item dropdown-item-custom" href="#">Custom Donation Forms</a>
                                    <a class="dropdown-item dropdown-item-custom" href="#">Donation Pages</a>
                                    <a class="dropdown-item dropdown-item-custom" href="#">Peer to Peer Fundraising</a>
                                    <a class="dropdown-item dropdown-item-custom" href="#">Recurring Donations</a>
                                    <a class="dropdown-item dropdown-item-custom" href="#">Text Messaging</a>
                                </div>
                                <div class="col-md dropdown-column">
                                    <h6 class="dropdown-header-custom">Solutions</h6>
                                    <a class="dropdown-item dropdown-item-custom" href="#">Integrations</a>
                                    <a class="dropdown-item dropdown-item-custom" href="#">Donor Insights & Donation Data</a>
                                    <a class="dropdown-item dropdown-item-custom" href="#">Team Fundraising</a>
                                    <a class="dropdown-item dropdown-item-custom" href="#">Mobile Responsive</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>
                </li>
                
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link btn" routerLink="/login" routerLinkActive="active-link ">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn" routerLink="/charityregister" routerLinkActive="active-link ">Sign Up For Free</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light  fixed-top" style="background-color: #eeeeee;">

    <div class="container">
        <a class="navbar-brand pl-3" href="#">
          <img src="./assets/Images/GiveHub-LogoNav.png" alt="Logo" width="auto" height="40">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
         
        </ul></div>
    

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="cursor">
                <a class="nav-link"><i class="fab fa-instagram"></i> </a>
            </li>
            <li class="cursor">
                <a class="nav-link"><i class="fab fa-facebook"></i> </a>
            </li>
            <li class="cursor">
                <a class="nav-link"><i class="fab fa-twitter"></i> </a>
            </li>
            <li class="cursor">
                <a class="nav-link"><i class="fab fa-linkedin-in"></i> </a>
            </li>
            <li class="cursor">
                <a class="nav-link"><i class="fab fa-youtube"></i> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="login" routerLinkActive="active-link">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="register" routerLinkActive="active-link">Register</a>
            </li>
        </ul>
    </div>
</nav> -->