<app-blank-navbar></app-blank-navbar>

<!-- Add a class to apply the top margin to the container -->
<div class="content-container container d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 overflow-auto" style="max-height: 100vh; width: 100%;">
        <div class="col" *ngFor="let charity of charities">
            <div class="card h-100">
                <img *ngIf="charity.profileImg" class="card-img-top" [src]="getFullImageUrl(charity.profileImg )" [alt]="charity.name">

                <div class="card-body">
                    <h5 class="card-title">{{ charity.name }}</h5>
                    <p class="card-text">{{ charity.description }}</p>
                    <a [href]="charity.websiteUrl" class="btn btn-primary" target="_blank">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
