<!-- <app-blank-navbar class="m-5"></app-blank-navbar>
<br><br><br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="profile-picture">
                <img [src]="getFullImageUrl(donor.profileImg)" alt="Profile Picture">
            </div>
            <div class="profile-info">
                <h2>{{ donor.name }}</h2>
                <p>Date Joined: {{ donor.dateJoined }}</p>
                <div class="social-icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-solid fa-x"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </header>
        <main>
            <section class="donations">
                <h2 class="text-center text-primary">My Donation History</h2>
                <div class="donation-history">
                    <h3 class="text-center" style="color: #f2e085;">Monetary Donations</h3>
                    <div *ngFor="let donation of moneyDonation" class="card mb-3" style="max-width: 500px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img [src]="getFullImageUrl(donation.projectImage)" class="card-img" alt="Project Image">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title">{{ donation.projectName }}</h3>
                                    <p class="card-text"><strong>Date:</strong> {{ donation.donationDate | date:'longDate' }}</p>
                                    <p class="card-text"><strong>Charity: </strong> {{ donation.charityName }}</p>
                                    <p class="card-text"><strong>Amount:</strong> ${{ donation.amount }}</p>
                                    <p class="card-text"><strong>Payment Method:</strong> {{ donation.paymentMethod }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="donation-history">
                    <h3 style="color: #f2e085;">In-Kind Donations</h3>
                    <div *ngFor="let donation of inkindDonation" class="card mb-3" style="max-width: 500px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img [src]="getFullImageUrl(donation.projectImage)" class="card-img" alt="Project Image">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title">{{ donation.projectName }}</h3>
                                    <p class="card-text">Donation Date: {{ donation.donationDate}}</p>
                                    <p class="card-text">Charity: {{ donation.charityName }}</p>
                                    <p class="card-text">Amount: {{ donation.quantity }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="badges">
                <h2 class="badgetitle text-primary">My Badges</h2>
                <div class="badge">
                    <img src="assets/Images/2.jpg" alt="Badge">
                    <p>HubSpot Partner</p>
                </div>
                <div class="badge">
                    <img src="assets/Images/31.png" alt="Badge">
                    <p>Buffer Certification</p>
                </div>
                <div class="badge">
                    <img src="assets/Images/boy.png" alt="Badge">
                    <p>Google Analytics</p>
                </div>
            
            </section>
        </main>
    </div>
</body>
</html> -->


<app-blank-navbar class="m-5"></app-blank-navbar>
<br><br><br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="profile-picture">
                <img [src]="getFullImageUrl(donor.profileImg)" alt="Profile Picture">
            </div>
            <div class="profile-info">
                <h2>{{ donor.name }}</h2>
                <p>Date Joined: {{ donor.dateJoined }}</p>
                <div class="social-icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-solid fa-x"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </header>
        <main>
            <section class="donations">
                <h2 class="text-center text-primary">My Donation History</h2>
                
                <div class="donation-history">
                    <h3 class="text-center" style="color: #f2e085;">Monetary Donations</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Project Image</th>
                                <th>Project Name</th>
                                <th>Date</th>
                                <th>Charity</th>
                                <th>Amount</th>
                                <th>Payment Method</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let donation of moneyDonation">
                                <td><img [src]="getFullImageUrl(donation.projectImage)" alt="Project Image"></td>
                                <td>{{ donation.projectName }}</td>
                                <td>{{ donation.donationDate | date:'longDate' }}</td>
                                <td>{{ donation.charityName }}</td>
                                <td>${{ donation.amount }}</td>
                                <td>{{ donation.paymentMethod }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="donation-history">
                    <h3 class="text-center" style="color: #f2e085;">In-Kind Donations</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Project Image</th>
                                <th>Project Name</th>
                                <th>Donation Date</th>
                                <th>Charity</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let donation of inkindDonation">
                                <td><img [src]="getFullImageUrl(donation.projectImage)" alt="Project Image"></td>
                                <td>{{ donation.projectName }}</td>
                                <td>{{ donation.donationDate }}</td>
                                <td>{{ donation.charityName }}</td>
                                <td>{{ donation.quantity }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            
            <section class="badges">
                <h2 class="badgetitle text-primary">My Badges</h2>
                <div class="badge">
                    <img src="assets/Images/2.jpg" alt="Badge">
                    <p>HubSpot Partner</p>
                </div>
                <div class="badge">
                    <img src="assets/Images/31.png" alt="Badge">
                    <p>Buffer Certification</p>
                </div>
                <div class="badge">
                    <img src="assets/Images/boy.png" alt="Badge">
                    <p>Google Analytics</p>
                </div>
            </section>
        </main>
    </div>
</body>
</html>

