


<app-blank-navbar></app-blank-navbar>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="navbar-container">
   
  </div>
  <div class="charity-details-container">
    <div class="hero-section" [style.backgroundImage]="'url(' + getFullImageUrl(charityData_DB.profileImg) + ')'">
      <div class="hero-content">
        <h1 class="charity-title">{{ charityData_DB.name }}</h1>
        <a [href]="'http://' + charityData_DB.websiteUrl" target="_blank" class="visit-website-button">Visit Website</a>
      </div>
    </div>
    
    <div class="content-section">
      <div class="charity-description">
        <h2>About Us</h2>
        <p>{{ charityData_DB.description }}</p>
      </div>
      <div class="donate-section">
        <h2>Support Our Cause</h2>
        <p>Your generous donations help us to achieve our goals and continue our mission.</p>
        
      </div>
    </div>
    <app-charity></app-charity>
  </div>
  