<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 style="font-size: 50px;">Projects of Our Charity</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let project of projects">
      <div class="card h-100">
        <div class="card-header">
          <h5 class="card-title">{{ project.title }}</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Description: {{ project.description }}</p>
          <p class="card-text">Funding Goal: {{ project.fundingGoal }}</p>
          <p class="card-text">Amount Raised: {{ project.amountRaised }}</p>
          <p class="card-text">Status: {{ getStatusString(project.state) }}</p>

          <img *ngIf="project.imgUrl" class="card-img-top" [src]="getFullImageUrl(project.imgUrl)" alt="Project Image">
        </div>
      </div>
    </div>
  </div>

 
  
  <div class="row">
    <div class="col">
      <a [routerLink]="['/project']" class="btn btn-dark">Add New Project</a>
    </div>
  </div>


</div>
