<app-blank-navbar class="m-5"></app-blank-navbar>
<br><br><br>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col">
      <h1 style="font-size: 50px;" class="mb-5 text-center fw-bold">Our Projects </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let project of projects">
      <div class="card h-100">
        <div class="card-header">
          <h3 class="card-title fw-bold">{{ project.title }}</h3>
        </div>
        <div class="card-body">
          <p class="card-text"><strong>Description:</strong> {{ project.description }}</p>
          <p class="card-text"><strong>Funding Goal:</strong> {{ project.fundingGoal }}</p>
          <p class="card-text"><strong>Amount Raised :</strong> {{ project.amountRaised }}</p>
          <p class="card-text"><strong>Location:</strong> {{ project.location }}</p>
          <p class="card-text"><strong>Category:</strong> {{ project.categoryName }}</p>
          <p class="card-text"><strong>Status:</strong> {{ getStatusString(project.state) }}</p>
          <img *ngIf="project.imgUrl" class="card-img-top" [src]="getFullImageUrl(project.imgUrl)" alt="Project Image">
          <!-- <button class="donate-button ">Donate Now</button> -->

        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="pagination-container mt-5 mb-5">
  <nav aria-label="Project pagination">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" href="javascript:void(0);" (click)="onPageChange(currentPage - 1)" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item" [class.disabled]="!PagesAvailable">
        <a class="page-link" href="javascript:void(0);" (click)="onPageChange(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>
</div> -->
