<div class="container mt-5">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let project of projects">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">{{ project.title }}</h5>
          </div>
          <div class="card-body">
            
            <p class="card-text">Description: {{ project.description }}</p>
            <p class="card-text">Funding Goal: {{ project.fundingGoal }}</p>
            <p class="card-text">Amount Raised: {{ project.amountRaised }}</p>
            <p class="card-text">Status: {{ getStatusString(project.state) }}</p>
            

            <img *ngIf="project.img" class="card-img-top" [src]="convertBinaryToBase64(project.img)" alt="Project Image">
          </div>
        </div>
      </div>
      <!-- routing to add project form -->
      <!-- <a [routerLink]="[]" class="card__button btn btn-dark">Add New Project</a> -->
    </div>
  </div>
